* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8A6240;
}

.container {
    background-color: white;
    padding: 110px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

#passcode-input {
    width: 100%;
    padding: 15px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.passcode-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.passcode-btn {
    padding: 15px;
    font-size: 18px;
    background-color: #8A6240;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.passcode-btn:hover {
    background-color: #6e4f33;
}

.passcode-btn:active {
    background-color: #5b4229;
}
